body 
	{
	padding: 20px;
	background-color: gray;
	}
hr
	{
		top: 50px;
		left: 590px;
		width: 1px;
		height: 600px;
		position: absolute;
	}
img
	{
		position: absolute;
		size: 24px 24px;
	}
.pasto
	{
		background-color: green;
		width: 1000px;
		height: 600px;
		padding: 30px;
	}
.cancha
	{
		border: 3px solid white;
		width: 1000px;
		height: 600px;
	}
.areachica
	{
		border: 3px solid white;
		width: 150px;
		height: 350px;
		margin-top: 125px;
	}
.areapenalizq
	{
		border: 3px solid white;
		width: 75px;
		height: 200px;
		margin-top: 75px;
		position: absolute;
		float: left;
		margin-left: -3px;
	}
.areapenalder
	{
		border: 3px solid white;
		width: 75px;
		height: 200px;
		margin-top: 75px;
		position: absolute;
		float: right;
		left: 983px;
	}
.span {display: inline-block;}
.right
	{
		float: right;
		margin-right: -3px;
	}
.left
	{
		float: left;
		margin-left: -2px;
	}
.central
	{
		border: 3px solid white;
		width: 150px;
		height: 150px;
		border-radius: 150px;
		margin: 0px;
		margin-left: 300px;
		margin-top: 225px;
		float: center;
	}
.bola1
	{
		top: 350px;
		left: 580px;
	}
.bola2
	{
		bottom: 290px;
		right: 10px;
	}
.bola3
	{
		float: center;
		bottom: 0px;
		right: 10px;
	}
/* Inserta tu CSS aqui */